:root {
    font-family: 'Roboto', sans-serif;

    --lightgrey: rgb(250, 250, 250);
    --shadowgrey: rgb(235, 235, 235);
    --blue: rgb(0, 115, 230);
    --green: rgb(147, 220, 0);
    --border-radius: 10px;
}

body {
    position: relative;
}

body>header {
    position: relative;
    box-shadow: 0 1px 2px 2px var(--shadowgrey);
    padding: 1rem;
}

main {
    background-color: var(--lightgrey);
}

.logo-widget {
    font-size: 3rem;
    font-weight: 500;
}


.book {
    margin: 1rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 3px 3px var(--shadowgrey);
}

.book>img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.book-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
}

.title {
    font-weight: 700;
}

.add-book-card {
    border: none;
    align-items: center;
    justify-content: center;

    font-size: 4rem;
    font-weight: lighter;
    color: lightgrey;
}

.add-book-card:focus,
.add-book-card:hover {
    border: 2px solid lightgrey;
    color: grey;
    outline: none;
    transition: all ease 1s;
}




/* layout */
.modal-widget {
    display: flex;
    position: fixed;
    top: 25vh;
    align-self: center;
}


.modal-dialog {
    background-color: white;
    border-radius: var(--border-radius);
    z-index: 2;

    /* exit transitions */
    transition: .1s ease-in;
    transform: translateY(130%) scale(0);
    opacity: 0;
}

.modal-dialog.active {
    /* entry transitions */
    transition: .25s ease-out;
    transform: translateY(0) scale(1);
    opacity: 1;
}

.modal-overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.hidden {
    display: none;
}




#add-book-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    width: clamp(300px, 50vw, 600px);
}

#add-book-form ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#add-book-form li {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#add-book-form>fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: none;

    gap: 2rem;
}

#add-book-form legend {
    font-size: 1.5rem;
    font-weight: 600;
}

#add-book-form input[type="number"],
#add-book-form input[type="text"] {
    appearance: none;
    border: 1px solid gray;
    border-radius: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0 1rem;
}

#add-book-form button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    background-color: var(--blue);
    color: white;
    border: 0;
    width: fit-content;
    align-self: center;
}



#add-book-form .switch-widget {
    margin-top: 1rem;
}


.switch-widget {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

.switch-widget > input[type="checkbox"] {
    grid-column: 2 3;
}

.switch-widget > label {
    grid-column: 1 2;
    display: grid;
    align-items: center;
}




input[type="checkbox"] {
    appearance: none;
    width: 50px;
    height: 29px;
    border-radius: 28px;
    background-color: rgb(240, 240, 240);
    position: relative;
    transition: all .4s;
}

input[type="checkbox"]:checked {
    background-color: var(--green);
    transition: all .4s;
}

/* slider pseudo element */
input[type="checkbox"]:checked::before {
    left: 25px;
    transition: all .4s;
}

input[type="checkbox"]::before {
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 1px 1px var(--shadowgrey);
    background-color: white;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    transition: all .4s;
}

input[type="checkbox"] ~ label .off,
input[type="checkbox"]:checked ~ label .on {
    opacity: 1;
}

input[type="checkbox"] ~ label .on,
input[type="checkbox"]:checked ~ label .off {
    opacity: 0;
}

label span {
    position: absolute;
}

