.modal {
	margin: auto;
	border: none;
	border-radius: 18px;
	padding: 2rem;
	box-shadow: 2px 4px 12px #00000014;

	width: 275px;
}

.modal::backdrop {
	backdrop-filter: blur(2px);
}

#modal-title {
	margin-bottom: 1rem;

	font-weight: bold;
}

.modal form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.modal input[type="text"] {
	height: 2rem;
	border: none;
	border-bottom: 2px solid lightgrey;
	transition: border-bottom .25s ease-in-out;

	text-overflow: ellipsis;
	outline: none;
	padding: 5px;
}

.modal input[type="text"]:focus {
	border-bottom: 2px solid orange;
}

.modal button {
	width: 80px;

	align-self: center;
}

.modal button:hover {
	background-color: orange;
	color: whitesmoke;	
}
