/* MODAL WIDGET */
.modal {
	margin: auto;
	border: none;
	border-radius: 10px;
	padding: 1.5rem 2rem;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	
	width: 500px;
}

.modal::backdrop {
	backdrop-filter: blur(2px);
}

#modal-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.modal form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.modal .inputItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inputItem input {
	width: 60%;
	height: 2rem;

	font-size: 1rem;
	padding: 5px;
	border: none;
	border-bottom: 2px solid var(--color-purple);
	transition: border-bottom 250ms ease-in-out;
	text-overflow: ellipsis;
	outline: none;

	/* -moz-appearance: textfield; */
}

.inputItem input:focus {
	border-bottom: 2px solid var(--color-fushia);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
}

#modal-buttons {
	display: flex;
	justify-content: space-evenly;
}

button {
	min-width: 100px;
	padding: 0.5rem;
	border-radius: 10px;
	background-color: var(--color-purple);
	border-color: var(--color-purple);
}

button:hover {
	border-color: var(--color-fushia);
}

button {
	font-size: 1rem;
	color: whitesmoke;
}

/* END - MODAL WIDGET */
