:root {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 
 * Site page arrangement
 */

body {
	display: flex;
	flex-direction: column;
	min-height: 100svh;

	gap: 2rem;
}

body {
	background-color: whitesmoke;
}

main {
	display: flex;
	flex: 1 1 auto;
}

/* main body */

main {
	display: flex;
	
	flex-direction: column;

	gap: 3rem;

	align-items: center;
}

#library {
	width: 95vw;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	grid-auto-rows: max-content;
	grid-gap: 1.5rem;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid lightgrey;

	user-select: none;
}

footer {
	padding: 3rem 4rem;
	border-top: 1px solid lightgrey;
}

.title {
	font-size: 3rem;
	text-align: center;
	margin-bottom: 1rem;
	cursor: default;
}

button {
	padding: 5px 15px;
	border-radius: 18px;
	border: none;
	color: grey;
	background-color: lightgrey;
}

#open-modal-btn:hover {
	background-color: green;
	color: whitesmoke;
}

#open-modal-btn:active {
	background-color: lightgreen;
}
