.tile {
	border-radius: 18px;

	display: flex;
	flex-direction: column;

	background-color: white;
	box-shadow: 2px 4px 12px #00000014;
}

.tile {
	transition: transform .3;
}

.tile:hover {
	transform: scale(1.02);

}

.tile p {
	cursor: default;
}

.tile-padding {
	padding: 1.5rem;
}

/* text overflow */
.tile-title {
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.tile-title {
	font-weight: bold;
}

.tile>button {
	border-radius: 18px;
	border: none;
	padding: 5px 15px;
	width: fit-content;
	align-self: end;

	cursor: pointer;

	background-color: whitesmoke;
	color: lightgrey;
}

.tile>button:hover {
	background-color: red;
	color: whitesmoke;
}

.tile-author {
	font-size: .75rem;
	text-transform: uppercase;
}

.tile-author {
	margin-bottom: 1rem;
}

.tile-pages {
	font-size: .75rem;
	text-transform: uppercase;
}

.tile-pages {
	margin-bottom: 1rem;
}

.switch-widget {
	margin-bottom: 1rem;
}
